.Shop--product {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.Shop--product > .graphcms-image-outer-wrapper {
  align-self: flex-start;
}

.Shop--product-image {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  height: 100px !important;
  min-height: 100px !important;
  max-height: 100px !important;
  margin-right: 10px;
  border-radius: 50%;
}