.Header {
  position: relative;
  color: black;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.Header--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.Header--wrapper-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.Header--icons {
  position: absolute;
  left: 0;
  top: calc(50% - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.Header--icon-button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-direction: row-reverse
}

.Header--icons svg {
  width: 24px;
  height: 24px;
}

.Header--title {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-size: 26px;
}

.Header--links {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  white-space: nowrap;
}

@media only screen and (min-width : 310px) {
  .Header--title {
    width: unset;
    content: unset;
    overflow: unset;
  }

  .Header--icons {
    left: unset;
    right: 10px;
  }

  .Header--icon-button {
    flex-direction: row;
  }
}

@media only screen and (min-width : 520px) {
  .Header--title {
    text-align: center;
    font-size: 32px;
  }

  .Header--wrapper-content, .Header--links {
    justify-content: center;
  }
}

.Header--links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  
}

.Header--links a:after {
  content: "/";
  display: inline-block;
  font-weight: 900 !important;
  margin: 0 10px;
  color: black !important;
}

.Header--links a:last-child:after {
  display: none;
}
